name: Tagged release

on:
  workflow_call:

permissions:
  contents: write

jobs:
  tagged-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: marvinpinto/action-automatic-releases@v1.2.1
      name: Build & test
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        files: |
          LICENSE
